parameters:
    level: 5
    paths:
        - classes
        - api
        - cron
        - scripts
        - includes
        - bootstrap.php
        - index.php
        - login.php
        - logout.php
        - register.php
        - dashboard.php
    excludePaths:
        - vendor
        - tests/Support/*
    bootstrapFiles:
        - bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
